{% extends "base.html" %}

{% block title %}
   Index
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
      <li>
          <a href="{{ item.link }}"> {{ item.item }} </a>
      </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <div class = "mb-2">
        <h1 align="center"> Welcome to Book Exchange System </h1>
    </div>
    <div class ="mt-5" align="center">
        <h5>This is a project done by group 5 in the spring semester of CS3337. The group members are:</h5>
        <br>
        <p align="center"> Zain Syed, Izeth Torres, Diana Arteaga-Andrade, Johnson Tan, Bryan Segovia, Salvador Gonzales</p>
    </div>
{% endblock content %}