{% extends "base.html" %}

{% load static %}

{% block title %}
   Book Detail Page
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
      <li>
          <a href="{{ item.link }}"> {{ item.item }} </a>
      </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1 align="center"> Book Detail Page </h1>
    <div class="container">
         <table class = "table table-light table-striped" align="center" border="2" width="400">
             <thead class="thead thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Link</th>
                  <th scope="col"></th>
                </tr>
             </thead>
              <tr>
                  <td>
                     {{ book.name }}
                  </td>
                  <td>
                     {{ book.web }}
                  </td>
                  <td>
                     {{ book.username }}
                  </td>
                  <td>
                     <img src="{% static book.pic_path %}" height="100"/>
                  </td>
              </tr>
         </table>
    </div>
{% endblock content %}