{% extends "base.html" %}

{% load static %}

{% block title %}
   Book Detail Page
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
      <li>
          <a href="{{ item.link }}"> {{ item.item }} </a>
      </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1 align="center"> Book Detail Page </h1>
    <div class="container col-lg-6 col-md-6">
         <table class = "table table-bordered table-light table-striped" align="center" border="2" width="400">
             <thead class="thead thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Link</th>
                  <th scope="col">User</th>
                  <th scope="col"></th>
                </tr>
             </thead>
              <tr>
                  <td>
                     {{ book.name }}
                  </td>
                  <td>
                     {{ book.web }}
                  </td>
                  <td>
                     {{ book.username }}
                  </td>
                  <td>
                     <img src="{% static book.pic_path %}" height="50"/>
                  </td>
              </tr>
         </table>
    </div>
    <br>
    <div class ="container col-lg-6 col-md-6" align ="center">Comments:</div>
    <div class="container col-lg-4 col-md-4">
        <table class = "table table-bordered table-light table-striped" align="center" border="2" width="400">
            <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Name</th>
                  <th scope="col">Comment</th>
                </tr>
            </thead>
            {% if comments %}
            {% for comment in comments %}
              <tr>
                  <td>
                     {{ comment.publishdate }}
                  </td>
                  <td>
                      {{ comment.username }}
                  </td>
                  <td>
                     {{ comment.content }}
                  </td>
              </tr>
            {% endfor %}
            {% else %}
                <tr>
                  <td>
                      There are no comments.
                  </td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="container col-lg-4 col-md-4">

    <h2 align="center"> Add your comment: </h2>
        <form action="" enctype="multipart/form-data" method="post">
          <table align="center">
              {{ form.as_table }}
              <tr>
                  <td>
                      <input class="form-control"  type="submit" value="Submit">
                  </td>
              </tr>
          </table>
          {% csrf_token %}
        </form>
    </div>
{% endblock content %}