{% extends "base.html" %}

{% block title %}
   Index
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
      <li>
          <a href="{{ item.link }}"> {{ item.item }} </a>
      </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1 align="center"> Welcome to Book Exchange System </h1>
    <div class="text-center container col-lg-6">
        <form class="d-flex form-inputs" action="{% url 'displaybooks' %}">
            <input class="form-control" type="search" name="search" id="search" placeholder="Search by Book Name or Price">
            <button class="btn btn-primary" type="Submit">Search</button>
        </form>
    </div>
{% endblock content %}